extends layout

block html
  | <html lang="en" itemscope itemtype="http://data-vocabulary.org/Person">

block meta
  - var descr="Aspiring journeyman on his way to software craftsmanship"
  meta(itemprop="name", content="Martin Gondermann")
  meta(property="og:title", content="Martin Gondermann")
  meta(itemprop="description", content=descr)
  meta(property="og:description", content=descr)
  meta(itemprop="image", content=locals.url + "/img/bilda.png")
  meta(property="og:image", content=locals.url + "/img/bilda.png")
  meta(content="https://plus.google.com/104195029782528146031?rel=author", itemprop="url", rel="author")

block navigation
  mixin navigation("about")

block content
  h1= page.title
  img(style="float: left;", src='/img/bilda.png', width='224', height='316', title="Martin Gondermann", itemprop="photo")
  .content(style="padding-top: 10px;")!= typogr(page.html).typogrify()