extends layout

block content
  include comments
  include author
  include categories

  h1.category
    | Category: #{page.metadata.meta.category}
  //- underscore helps us filter and sort our articles
  - var articles = env.helpers.getArticles(contents)
  each article in articles
    - var category = article.metadata.category;
    if category
      found = false;
      each c in category.split(",")
        if c == page.metadata.meta.category
          article.index(itemscope="itemscope", itemtype="http://schema.org/BlogPosting")
            header
              h1(itemprop="name")
                a(href=article.url, rel="bookmark", title="Permanent Link: " + article.title)= article.title
              div.post-meta.hidden-phone
                +comments(article.url)
                div.date
                  span(data-date=article.metadata.date)
                    article.metadata.date;
                div.info
                  | von 
                  +author(article.metadata.author)
                  if article.metadata.category
                    |  in 
                    +categories(article.metadata.category)
            div.content(itemprop="description articleBody")!= typogr(article.intro).typogrify()
            if article.hasMore
              p.read-more
                    a(href=article.url) read more

block append scripts
  script.
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'pagansoft'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
