mixin button(icon, title)
  i(class="icon-#{icon} icon-white")
  |  #{title}

mixin nav_button(id, buttonId, icon, title, url)
  if id == buttonId
    li.current(id=buttonId)
      +button(icon, title)
  else
    li(id=buttonId)
      a(href=url)
        +button(icon, title)

mixin navigation(id)
  nav
    ul
      +nav_button(id, "home", "home", "Home", "/")
      +nav_button(id, "about", "user", "About me", "/pages/about.html")
